@model LibraryManagement.ViewModels.RegisterViewModel

@{
    Layout = "_AccountLayout";
    ViewBag.Title = "Register";
    ViewData["Title"] = "Register";
}


@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <section class="container pt-5">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                         class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form asp-action="Register" asp-controller="Account" method="post">
                        @* <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"> *@
                        @*     <p class="lead fw-normal mb-0 me-3">Register with</p> *@
                        @*     <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1"> *@
                        @*         <i class="fab fa-facebook-f"></i> *@
                        @*     </button> *@
                        @* *@
                        @*     <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1"> *@
                        @*         <i class="fab fa-twitter"></i> *@
                        @*     </button> *@
                        @* *@
                        @*     <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1"> *@
                        @*         <i class="fab fa-linkedin-in"></i> *@
                        @*     </button> *@
                        @* </div> *@
                        @* *@
                        @* <div class="divider d-flex align-items-center my-4"> *@
                        @*     <p class="text-center fw-bold mx-3 mb-0">Or</p> *@
                        @* </div> *@

                        <!-- FullName input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.FullName, new { placeholder = "Full Name", @class = "form-control form-control-lg" })
                            @Html.ValidationMessageFor(m => m.FullName, "", new { @class = "text-danger" })
                        </div>

                        <!-- Email input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            @Html.TextBoxFor(m => m.Email, new { placeholder = "Email", @class = "form-control form-control-lg" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            @Html.PasswordFor(m => m.Password, new { placeholder = "Enter password", @class = "form-control form-control-lg" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <!-- Confirm Password input -->
                        <div data-mdb-input-init class="form-outline mb-3">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder = "Confirm password", @class = "form-control form-control-lg" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                                    style="padding-left: 2.5rem; padding-right: 2.5rem;">
                                Register
                            </button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">
                                Already have an account? <a href="@Url.Action("Login", "Account")" class="link-danger">Login</a>
                            </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
}
