@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
<div class="row flex-row align-content-center my-5">
    @foreach (var book in ViewBag.Books)
    {
    <div class="col-md-3 my-3">
        <div class="book-list">
            <!-- Example of a book card -->
            <div class="card h-100">
                <img src="@book.Avatar" alt="Book Cover" onclick="location.href='@Url.Action("BookDetail", "Book", new { id = book.BookId })'">
                <div class="card-content">
                    <h5>@book.Title</h5>
                    <p>@book.Description</p>
                    <div class="book-author">@book.Publisher</div>
                    <div class="published-date">@book.PublishedYear</div>
                </div>
                <a href="#" class="loan-button">Loan now</a>
            </div>
        </div>
    </div>
    }
</div>


